body{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__wrapper {
    padding: 20px;
    background-color: var(--main-color);
    margin:  14dvh 5dvw 4dvh 5dvw;
    border-radius: 50px;
    max-width: 70dvw;
    box-shadow: 0 4px 8px #0007;
}

.main{
    background-color: var(--light-transparent-color);
    border-radius: 50px;
    padding: 20px;
}

h1{
    text-align: center;
    color: var( --dark-color);
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.main h2{
    font-size: 1.7rem;
    color: var(--item-navbar-color);
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

.main p{
    padding: 0 20px;
}

.main span{
    font-weight: bold;
}