body{
    background-color: #CDE8E5;
}

.header {
    padding: 100px;
    background-color: #7AB2B2;
    margin:  50px 5dvw auto 5dvw;
    border-radius: 50px;
}

h1, .header__text{
    text-align: center;
    color: #2D667C;
}

h1{
    letter-spacing: 2px;
    margin-bottom: 15px;
}