body{
    background-color: var(--bg-color);
}

.header__wrapper {
    padding: 20px;
    background-color: var(--main-color);
    margin:  15dvh 5dvw auto 5dvw;
    border-radius: 50px;
    box-shadow: 0 4px 8px #0007;
}

.header{
    background-color: var(--light-transparent-color);
    border-radius: 50px;
    padding: 50px 20px;
}

h1, .header__text{
    text-align: center;
    color: var(--dark-color);
}

h1{
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.header h2{
    font-size: 1.7rem;
    color: var(--item-navbar-color);
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

.header__img{
    max-width: 100%;
}


@media screen and (min-width: 1000px) {
    .header__wrapper{
        margin-top: 20vh;
    }
}