body{
    background-color: var(--bg-color);
}

.container{
    margin-top: 15dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post__wrapper {
    padding: 20px;
    background-color: var(--main-color);
    margin:  5dvh 5dvw auto 5dvw;
    border-radius: 50px;
    box-shadow: 0 4px 8px #0007;
    width: clamp(70dvw, 100%, 60dvw);
}

.post{
    background-color: var(--light-transparent-color);
    border-radius: 50px;
    padding: 20px 20px;
}

h2, .post__text, h1{
    text-align: center;
    color: var(--dark-color);
}

h2{
    font-size: clamp(20px, 10dvw,  28px);
}

h1{
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: clamp(24px, 10dvw,  30px);
}

.post__text{
    padding: 10px;
    font-size: clamp(14px, 10dvw,  18px);
}

.post__author{
    color: var(--dark-color);
    text-align: end;

}


@media screen and (min-width: 1000px) {
    h1{
        margin-top: 7vh;
    }
}