.main__wrapper {
    padding: 20px;
    background-color: var(--dark-color);
    margin:  15dvh auto;
    margin-bottom: 0;
    border-radius: 50px;
    box-shadow: 0 4px 8px #0007;
    width: clamp(500px, 100%, 60dvw);
}

main{
    background-color: #fff6;
    border-radius: 50px;
    padding: 50px 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    color: var(--dark-color);
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

form label{
    margin: 5px;
    margin-left: 28%;
    width: 100%;
    color: var(--dark-color);
}

form input{
    font-family: inherit;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--light-color);
    border: none;
    width: 70%;
}

form input[type="submit"]{
    margin-top: 40px;
    font-family: inherit;
    background-color: var(--dark-color);
    font-weight: bold;
    color: var(--light-color);
    max-width: 60%;
    font-size: 1.2rem;
    animation: none;
}

.error{
    color: #f33;
}
