@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins';
    --main-color: #7AB2B2;
    --bg-color: #CDE8E5;
    --dark-color: #2D667C;
    --light-color: #EEF7FF;
    --item-navbar-color: #4D869C;
    --light-transparent-color: #fff4;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul{
    list-style: none;
}

.navbar__list{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
    height: fit-content;
    width: 100dvw;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px #0004;
}

.list__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.list__link{
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--item-navbar-color);
    padding: 15px 25px;
    border-radius: 10px;
    transition: background-color .6s, color .6s;
}

.list__link:hover{
    background-color: var(--bg-color);
    color: var(--item-navbar-color);
}

@media screen and (min-width: 1000px) {
    .list__item .icon{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .list__item .content{
        display: none;
    }

    .navbar__list{
        padding: 5px;
    }
}