{% extends "base.html" %}
{% block title %}{{title}}{%endblock%}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/postMenu.css') }}">{%endblock%}

{% block container %}
<h1>Hello, here do you can to find the post that do you want</h1>
    {% for post in posts %}
    <div class="post__wrapper">
        <article class="post">
                <h2> {{post[1]}} </h2>
                <p class="post__text"> {{post[2]}} </p>
                <p class="post__author"> <b>Author:</b> {{post[0]}} </p>
        </article>
    </div>
    {%endfor%}
{%endblock%}